<?xml version="1.0"?>
<robot name="my_robot_parts" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="pillar_x_offset" value="0.0" /> <!--赤軸-->
  <xacro:property name="pillar_y_offset" value="0.082" /> <!--緑軸-->
  <xacro:property name="pillar_z_offset" value="0.017" /> <!--青軸-->
  <xacro:property name="pillar_mass" value="0.25" />
  <xacro:property name="pillar_com_x" value="0.0" />
  <xacro:property name="pillar_com_y" value="0.0" />
  <xacro:property name="pillar_com_z" value="0.2" />

  <joint name="mimi_head" type="fixed"> 
    <parent link="base_link" />
    <child link="mimi_head" />
    <origin xyz="${pillar_x_offset} ${pillar_y_offset} ${pillar_z_offset}" rpy="0 0 ${pi}" />
  </joint>

  <link name="mimi_head">
    <inertial>
      <origin xyz="${pillar_com_x} ${pillar_com_y} ${pillar_com_z}" rpy="0 0 0" />
      <mass value="${pillar_mass}" />
      <inertia ixx="0.001" iyy="0.001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
    </inertial>
    
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://vs_rover_options_description/meshes/mimi/mimi_head.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver" />
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://vs_rover_options_description/meshes/mimi/mimi_head.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

</robot>